.wrapper {
   text-align: left;
   background-color: rgb(255, 255, 255);
   padding: 25px 30px;
   border-radius: 12px;
   box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.05);
   width: 180px;
}
.title {
   margin: 0;
   color: #7e7f86;
   font-weight: 400;
   font-size: 16px;
}
.topic {
   font-weight: 600;
   font-size: 24px;
   color: #327ffa;
   height: 70px;
   margin-bottom: 10px;
}
.detailedMentions {
   margin-top: 10px;
   list-style: none;
   padding: 0;
}
.totalMentions {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.totalMentions span {
   padding-right: 15px;
}
.detailedMentions li {
   height: 30px;
   background-color: #eff2f8ce;
   margin-bottom: 5px;
   border-radius: 3px;
   display: flex;
   padding: 0 15px;
   justify-content: space-between;
   align-items: center;
}
.detailedMentions li span {
   font-weight: 600;
   font-size: 18px;
}
