.card {
   padding: 30px;
   border-radius: 12px;
}

.title {
   font-size: 20px;
   font-weight: 600;
   color: rgb(61, 66, 71);
   text-align: left;
   margin: 0;
   margin-left: 20px;
   margin-bottom: 20px;
}

.wrapper {
   display: flex;
}
